<div class="navbar">
    <div class="logo">
        <img src="/images/logo1.jpg" alt="FPS Stats Tracker Logo" />
    </div>
    <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About us</a>
        <div class="dropdown">
            <button class="dropbtn">
                Games...
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <div class="dropdown">
                    <button class="dropbtn" style="color: black;">
                        Rainbow Six Siege...
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/siege/home">Home</a>
                        <a href="/siege/home">Stats</a>
                        <a href="/siege/home">Operators</a>
                        <a href="/siege/home">Maps</a>
                        <a href="/siege/home">Guides</a>
                    </div>
                </div>
                <a href="/bl3/home">Borderlands 3</a>
                <a href="/doom/home">Doom</a>
                <a href="/bab/home">Blood and Bacon</a>
                <a href="/ow/home">Overwatch 2</a>
                <a href="/BL3/home">CS:GO</a>
            </div>
        </div>
        <a href="/stats">Stats</a>
        <a href="/comparisons">Comparisons</a>
        <a href="/events">Events</a>
        <a href="/news">News</a>
        <div class="dropdown">
            <button class="dropbtn">
                More
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/recommendations">Game Recommendations</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </div>
    <div class="auth-buttons">
        <button class="btn-login">Login</button>
        <button class="btn-signup">Sign Up</button>
    </div>
</div>