@page "/about"

@using FPSHome

<PageTitle>About Me</PageTitle>

<FPSHome.wwwroot.Shared.Menubar/>

<header class="title-section" style="background-image: url('/images/nicelooking.gif');">
    <h1 class="title">About Me</h1>
</header>

<div class="page-container">
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit dui vitae libero vulputate, a ornare ex porta. Sed laoreet, mi vitae convallis maximus, nisi nisl suscipit sapien, ut ultricies tellus velit sed ipsum. Donec efficitur nisi eget ligula euismod elementum. Morbi nec leo sit amet odio porta convallis. Mauris at tortor ac arcu eleifend mollis at quis nibh. Sed est diam, volutpat in finibus in, congue vitae massa. Nullam sed massa sapien. Nam congue aliquet aliquet. In non pulvinar libero, at finibus lorem. Quisque eu ornare nulla. Nullam luctus, velit id dapibus egestas, ante urna consequat ligula, pulvinar ullamcorper tellus eros vitae nisi. Nunc maximus hendrerit rhoncus. Ut ut tincidunt nunc. Sed rutrum at mi vitae luctus.

            Maecenas condimentum sit amet magna mattis congue. Donec ac mi a nulla pretium scelerisque id quis quam. Etiam at massa id est imperdiet gravida. Mauris lobortis faucibus neque, eget dapibus nibh. Maecenas eget tempor nibh, quis tristique elit. Donec dictum vestibulum leo, non sagittis tellus luctus sit amet. Nam euismod efficitur libero, eu pharetra tortor tincidunt quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean risus arcu, semper ut felis ultricies, efficitur commodo lacus. In tortor felis, pellentesque at quam nec, condimentum porttitor turpis.

            Maecenas dapibus maximus enim, a scelerisque lorem iaculis a. Nunc rhoncus enim elit, at posuere lorem ultricies in. Fusce tempus enim sit amet arcu vulputate blandit. Cras nunc est, dignissim non lorem eu, dictum condimentum enim. Integer molestie elementum diam id fringilla. Nullam nec dictum mi. In porttitor dui sem, ut cursus nisl auctor sed. Fusce interdum tincidunt enim. Suspendisse volutpat in nisl vel placerat. Curabitur porta luctus congue. Cras aliquam viverra nisi, vel finibus lorem laoreet a. Nunc condimentum, turpis eu posuere rutrum, leo ipsum dignissim dui, vel rutrum justo dolor nec ipsum. Morbi imperdiet cursus neque, non eleifend ex auctor eget. In quis vestibulum eros. Nunc a fringilla eros.

            Donec orci lectus, blandit ac consectetur eu, venenatis ac odio. Pellentesque vulputate auctor ligula eget pharetra. Nam vitae vestibulum metus. In hac habitasse platea dictumst. Donec commodo leo vitae maximus lacinia. Sed rutrum tincidunt nibh nec vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

            Mauris varius ullamcorper libero et feugiat. Cras sed quam eleifend mauris faucibus maximus. Nulla dapibus, ex sit amet dictum iaculis, lectus orci hendrerit tortor, in ullamcorper libero velit a ligula. Pellentesque lacus enim, sodales quis vestibulum non, pulvinar vel urna. Vestibulum tempus elementum metus, a lacinia augue. Sed convallis elementum blandit. Duis cursus rutrum lorem et pellentesque. Proin malesuada efficitur turpis, semper fermentum leo aliquet vel. Vestibulum quis eleifend eros. Suspendisse vel mi eget purus tempus vestibulum sit amet eget lacus. Phasellus at nisl et metus tristique aliquam. Integer semper lobortis vestibulum. Aenean ac ipsum maximus, convallis mauris et, facilisis sapien. Vestibulum in diam euismod, efficitur nibh non, volutpat est.
        </p>
    </div>
</div>

<footer class="footer">
    <p>&copy; 2024 FPS Stats Tracker. All rights reserved.</p>
</footer>

<button class="help-button">?</button>